<% content_for(:html_title) { 'About Us' } %>

<h1>About Billy Books</h1>

<h2>Origins</h2>

<p>
  Well I used to have all these books at my house, but I had a goat named Billy and I reckon he really liked to read 
  because he kept eatin' my collector's edition of Alice in Wonderland. Shoot, over the years I caught him with his 
  horns in the Lord of the Rings, Dune, Twilight and maybe hundreds of other books. I tell you that goat loved him 
  some books. Back in '98 I opened this here store just to keep him from feasting on my John Grisham novels. Pretty 
  soon though some people came in wanting to buy what I had. Well heck, I figured I'd already read all'em, and I 
  had my first bona fide customers!
</p>

<p>
  Twenty years later, Billy Books is still goin' strong! We've got first editions, signed editions, box sets, and 
  more! And if you just wanna browse, that's fine! Come say hi to Billy! He sure would be glad to see ya enjoyin' 
  all those books just like he did.
</p>

<h2>Awards</h2>

<ul>
  <li>Marion County Best Bookstore 2009</li>
  <li>Marion County Best Bookstore 2012</li>
  <li>TaxidermyRUs.com Best Goat Nominee 2013</li>
  <li>Ripley's Believe It or Not Weirdest Bookstore 2013</li>
  <li>Marion County Best Bookstore 2014</li>
</ul>
