<h1>Welcome to Billy Books!</h1>

<p>
  Come visit us at 7107 Juniper Road Fairbend, TN, 37062!
</p>

<p>
  Store Hours:
</p>

<table>

  <thead>
    <tr>
      <th>Day</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Monday</td>
      <td>10am - 7pm</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>10am - 7pm</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>10am - 7pm</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>10am - 7pm</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>12pm - 6pm</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>Closed</td>
    </tr>
  </tbody>

</table>
