<h1>Welcome to Billy Books!</h1>

<p>
  Come visit us at 7107 Juniper Road Fairbend, TN, 37062!
</p>

<p>
  Store Hours:
</p>

<ul>
  <li>Monday: 10am - 7pm</li>
  <li>Tuesday: 10am - 7pm</li>
  <li>Wednesday: 10am - 7pm</li>
  <li>Thursday: closed</li>
  <li>Friday: 10am - 7pm</li>
  <li>Saturday: 12pm - 6pm</li>
  <li>Sunday: closed</li>
</ul>
